--!strict

local Docker = require('@lorry.project-spring/lib/Docker/Docker')

local roots = require('./roots')

local dockerfiles = {}

{%- for catalog in db.catalogs %}
{# Blank line #}
dockerfiles.docker = Docker
  :from(roots.root)
  :with_image('{{ catalog.catalog_name | slugify }}-assembly')
  :with_namespace('{{ config.backend.namespace | slugify }}')
{%- endfor %}

return dockerfiles
