--!strict

local POM = require('@lorry.project-spring/lib/POM')

local projects = require('../projects')

local roots = {}

export type Roots = typeof(roots)

roots.root = POM
  :from_root(projects.project_backend, 'com.example', 'application')
  {%- for catalog in db.catalogs %}
  :with_module "assembly_{{ catalog.catalog_name }}"
  {%- endfor %}
  {%- for schema in db.schemas %}
  :with_module "service_{{ schema.catalog_name }}_{{ schema.schema_name }}"
  {%- endfor %}

return roots
