--!strict

local DDL = require('@lorry.project-spring/lib/DDL')

local projects = require('../projects')
local units = require('./units')

local statements = {}
{# Blank line #}
{%- for e in db.entities %}
statements.ddl_{{ e.table.table_schema }}_{{ e.table.table_name }} = DDL:from(projects.project_migrate, units.unit_{{ e.table.table_schema }}_{{ e.table.table_name }})
{%- endfor %}

return statements